<!doctype html>
<html class="no-js" lanf="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> StarWars RgOne</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" type="text/css" >
    </head>
    <body>
        <h1>
            Will Han and his crew save Endor from total destruction ?
        </h1>
        <script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
        <div id=screen>
            <p id=console> 
                <span id=loader></span><br>
                <span id=result></span><br>
                <span id=answer></span>

            <pre id=displayer>
                <span id=print_file></span>
            </pre>
        </div>

        <div id=roadmap>
            <pre id=road></pre>
        </div>
        
        <p id=interface>
            <input type=file id=file-input size=5 name=data style="display: none;" accept=".json " onchange="fileloaded()">
            <input type="button" id=intercept-button value="intercept file" onclick="document.getElementById('file-input').click();" />
            <button href=# id="read-button" onclick="controller_front()">Analyse File</button>


        <script src= "{{ url_for('static', filename='eventlistener.js') }}" type="text/javascript" charset="utf-8"></script>
        
    </body>
</html>
